In [1]:
import pandas as pd
import mysql.connector as sql
from mysql.connector import Error


regions = pd.read_csv('region.csv', index_col=False)
cars = pd.read_csv('car_details.csv', index_col=False)
branches = pd.read_csv('branch_details.csv', index_col=False)
customers = pd.read_csv('customers.csv', index_col=False)
sales_data = pd.read_csv('sales_data.csv', index_col=False)

In [2]:
from tabulate import tabulate

In [3]:
try:
    conn = sql.connect(host='localhost', user='root', password='password')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("USE TATA_MOTORS")
except Error as e:
    print("Error")

In [8]:
# For Inserting Data from Region into tables

try:
    for i,row in regions.iterrows():
        sql = "INSERT INTO TATA_MOTORS.REGION VALUES (%s)"
        cursor.execute(sql, tuple(row))
        print('record inserted!')
        conn.commit()
except Error as e:
    print('Trouble inserting the data')
    print(e)

record inserted!
record inserted!
record inserted!
record inserted!

In [9]:
# inserting data from Cars into car_details table
try:
    for i,row in cars.iterrows():
        query = "INSERT INTO TATA_MOTORS.CAR_DETAILS VALUES (%s,%s,%s,%s)"
        cursor.execute(query, tuple(row))
        print('record inserted!')
        conn.commit()
except Error as e:
    print('Trouble inserting the data')
    print(e)

record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!

In [10]:
# inserting data from branches to branch_details
try:
    for i,row in branches.iterrows():
        query = "INSERT INTO TATA_MOTORS.BRANCH_DETAILS VALUES (%s,%s,%s,%s)"
        cursor.execute(query, tuple(row))
        print('record inserted!')
        conn.commit()
except Error as e:
    print('Trouble inserting the data')
    print(e)

record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!

In [11]:
# inserting into customer_details table
try:
    for i,row in customers.iterrows():
        query = "INSERT INTO TATA_MOTORS.CUSTOMER_DETAILS VALUES (%s,%s,%s,%s,%s,%s)"
        cursor.execute(query, tuple(row))
        print('record inserted!')
        conn.commit()
except Error as e:
    print('Trouble inserting the data')
    print(e)

record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!

In [25]:
# changing the sale date to correct format
sales_data['SALE_DATE'] = sales_data['SALE_DATE'].astype(str)

# inserting sales data into sales_data table
try:
    for i,row in sales_data.iterrows():
        query = "INSERT INTO TATA_MOTORS.SALES_DATA (SALE_ID, BRANCH_ID, CUSTOMER_ID, CAR_MODEL, SALE_DATE, NUM_PLATE) VALUES (%s,%s,%s,%s,%s,%s)"
        cursor.execute(query, (None,row[1],row[2],row[3],row[4],row[5]))
        print('record inserted!')
        conn.commit()
except Error as e:
    print('Trouble inserting the data')
    print(e)

record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!
record inserted!

In [3]:
# for service id use None
# for branch id
import random
import numpy as np

In [4]:
branch_id = np.array(branches['BRANCH_ID'])
branch_id[random.randint(0,15)]

'S4'

In [5]:
# for service date
import datetime

In [6]:
start_date = datetime.date(2022, 3, 1)
end_date = datetime.date(2022, 3, 7)

def rndt(start_date, end_date):
    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    random_date = start_date + datetime.timedelta(days=random_number_of_days)
    return str(random_date)
    #return random_date

In [7]:
rndt(start_date, end_date)

'2022-03-05'

In [8]:
# For Customer_id
cust_id = np.array(customers['CUST_ID'])
cust_id[random.randint(0,39)]

203

In [9]:
# For Sale id
str(random.randint(0,120))

'114'

In [10]:
print(branch_id[random.randint(0,15)]) #branch id
print(rndt(start_date, end_date)) # service date
print(str(cust_id[random.randint(0,39)])) # customer_id
print(str(random.randint(0,120))) #sale id
print(random.choice(['FIRST', 'SECOND', 'THIRD'])) # service type
count = 0

E1
2022-03-03
204
112
FIRST

In [274]:
query = "INSERT INTO TATA_MOTORS.SERVICE_DATA VALUES (%s,%s,%s,%s,%s,%s)"
cursor.execute(query, (None, branch_id[random.randint(0,15)], rndt(start_date, end_date), str(cust_id[random.randint(0,120)]), str(random.randint(0,39)), random.choice(['FIRST', 'SECOND', 'THIRD'])))
count += 1

print(f'{count} no. record inserted!')
conn.commit()

70 no. record inserted!

In [9]:
# QUES 1
query = """SELECT CUSTOMER_ID FROM TATA_MOTORS.SERVICE_DATA WHERE WEEK(SERVICE_DATE) = 1;"""

result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

DatabaseError: 2014 (HY000): Commands out of sync; you can't run this command now

In [8]:
# QUES 2
query=""" 
select * from TATA_MOTORS.sales_data;
SELECT * , RANK ()  OVER ( ORDER BY TOTAL_SALES DESC) AS RANK_SALES FROM (
select BRANCH_ID,COUNT(SALE_ID) AS TOTAL_SALES from sales_data
WHERE WEEK(SALE_DATE) = 1 OR 2 OR 3 
group by branch_id ) X
"""
result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

---  --  ---  ---------  ----------  ----------
  1  N1  101  HAR202SUV  2022-01-10  KA01B1453
  2  E3  101  TIG101SED  2022-01-25  KA01AC2009
  3  S2  101  ALT303HAT  2022-01-05  KA01V0009
  4  W2  102  SAF303SUV  2022-01-02  KA12AA0001
  5  E2  103  ALT202HAT  2022-01-13  KA03ED0897
  6  N3  103  TIG202SED  2022-01-23  KA03FD2356
  7  W4  104  TIA101HAT  2022-01-03  KA04RR3333
  8  N4  104  TIG303SED  2022-01-15  KA04EF9098
  9  N2  104  HAR202SUV  2022-01-31  KA04WS9908
 10  N3  105  TIA101HAT  2022-01-02  KA05G5641
 11  W1  105  SAF303SUV  2022-01-26  KA05BN6656
 12  E4  106  HAR101SUV  2022-01-30  KA13HH3344
 13  S4  107  TIG202SED  2022-01-23  KA15TT4341
 14  N2  107  TIG101SED  2022-01-24  KA15TT4342
 15  E3  108  TIA101HAT  2022-01-05  KA10TA1111
 16  S3  108  TIA101HAT  2022-01-06  KA10TA1112
 17  S1  109  SAF303SUV  2022-01-15  KA10GG2937
 18  W3  110  TIA101HAT  2022-01-22  KA09U4344
 19  W3  110  TIA101HAT  2022-01-23  KA09U4345
 20  W4  110  TIG101SED  2022-01-24  KA09UA3444
 21  E1  201  HAR101SUV  2022-01-11  KA016220
 22  E1  201  SAF202SUV  2022-02-12  KA016221
 23  E1  201  TIG202SED  2022-03-13  KA016222
 24  E2  202  ALT303HAT  2022-01-01  KA016223
 25  E2  202  HAR202SUV  2022-02-02  KA026224
 26  E3  202  TIG202SED  2022-03-03  KA026225
 27  E4  203  HAR101SUV  2022-02-02  KA026226
 28  E4  203  SAF202SUV  2022-02-03  KA026227
 29  N1  203  HAR303SUV  2022-03-03  KA031234
 30  N1  204  ALT202HAT  2022-01-10  KA041235
 31  N2  204  HAR303SUV  2022-02-11  KA051236
 32  N3  204  SAF101SUV  2022-03-12  KA051237
 33  N4  205  TIA101HAT  2022-01-14  KA061238
 34  N2  205  HAR202SUV  2022-01-15  KA061239
 35  S1  205  TIA303HAT  2022-01-16  KA061240
 36  S1  206  HAR101SUV  2022-01-17  KA031235
 37  S2  206  TIA101HAT  2022-02-18  KA031236
 38  S3  207  TIA303HAT  2022-03-20  KA091234
 39  S3  207  SAF202SUV  2022-03-21  KA091235
 40  S4  208  TIA202HAT  2022-01-22  KA101212
 41  W1  208  TIA303HAT  2022-01-23  KA101213
 42  W2  209  HAR303SUV  2022-01-20  KA101214
 43  W3  209  SAF303SUV  2022-02-21  KA101215
 44  W4  210  TIA303HAT  2022-02-28  KA101216
 45  W1  210  HAR101SUV  2022-01-27  KA101217
 46  W2  211  SAF101SUV  2022-03-13  KA101218
 47  W3  211  HAR202SUV  2022-03-14  KA111122
 48  W4  212  TIA303HAT  2022-01-19  KA111123
 49  E1  212  TIG101SED  1900-01-01  KA111124
 50  N1  213  HAR101SUV  2022-03-14  KA111125
 51  S1  213  SAF303SUV  2022-02-03  KA111126
 52  W1  214  SAF202SUV  2022-03-14  KA111127
 53  E2  214  TIA202HAT  2022-02-03  KA111128
 54  W2  215  SAF101SUV  2022-03-03  KA111129
 55  N2  215  HAR303SUV  2022-03-03  KA111130
 56  S2  216  TIA303HAT  1900-01-01  KA111131
 57  E3  216  HAR202SUV  2022-03-03  KA121232
 58  W3  217  SAF303SUV  2022-03-14  KA121233
 59  N3  218  TIA303HAT  2022-03-03  KA121234
 60  S3  219  SAF101SUV  2022-03-03  KA121236
 61  E4  220  HAR101SUV  2022-02-03  KA121237
 62  W4  221  HAR202SUV  1900-01-01  KA121339
 63  N1  301  HAR303SUV  2022-01-22  KA11HK3456
 64  W4  301  SAF303SUV  2022-01-30  KA11JJ8897
 65  S1  301  ALT303HAT  2022-01-12  KA11AS2367
 66  E3  302  SAF101SUV  2022-01-03  KA14DF3478
 67  E1  302  ALT202HAT  2022-01-30  KA02KJ1094
 68  W1  303  TIA303HAT  2022-01-26  KA04SD6758
 69  W3  304  TIG202SED  2022-01-23  KA10ST0010
 70  S2  304  TIA202HAT  2022-01-15  KA06RD0005
 71  E1  305  TIG303SED  2022-01-06  KA05VV0281
 72  E2  306  HAR202SUV  2022-01-15  KA07SG2004
 73  W4  306  SAF202SUV  2022-01-30  KA08YS0036
 74  N3  307  ALT303HAT  2022-01-23  KA16MP3011
 75  N2  308  TIA202HAT  2022-01-22  KA18SS2007
 76  N1  309  ALT303HAT  2022-01-30  KA12UM0014
 77  S1  310  HAR303SUV  2022-01-31  KA15BK2008
 78  W2  310  SAF303SUV  2022-01-26  KA08YC0006
 79  S2  310  ALT303HAT  2022-01-15  KA05RS0045
 80  E1  303  HAR303SUV  2022-01-24  KA01VK0018
 81  W4  308  ALT303HAT  2022-01-23  KA11MS2011
 82  E4  401  ALT202HAT  2022-01-22  KA12AD2012
 83  E4  402  SAF303SUV  2022-01-08  KA08IO4560
 84  E4  403  TIG303SED  2022-01-28  KA09YU7532
 85  E4  404  SAF202SUV  2022-01-06  KA45HJ7860
 86  S3  404  HAR202SUV  2022-01-09  KA67KL5678
 87  S3  405  TIA202HAT  2022-01-12  KA45JK2456
 88  S3  406  HAR101SUV  2022-01-12  KA67GH6735
 89  S4  406  HAR202SUV  2022-01-16  KA34JI7489
 90  S4  408  HAR303SUV  2022-01-23  KA89GH2359
 91  S4  405  HAR303SUV  2022-01-16  KA23LK7865
 92  E1  406  SAF202SUV  2022-01-15  KA46ER7856
 93  E1  408  SAF303SUV  2022-01-14  KA34KJ2345
 94  E2  409  TIA202HAT  2022-01-19  KA78TY4562
 95  E2  405  TIA303HAT  2022-01-13  KA56KC5623
 96  E2  403  TIA202HAT  2022-01-17  KA34DS1234
 97  E3  406  TIG202SED  2022-03-01  KA78GH2567
 98  E3  401  SAF303SUV  2022-01-02  KA35BN4532
 99  W1  401  HAR303SUV  2022-01-04  KA54FG8965
100  W1  402  ALT303HAT  2022-01-06  KA35MV5488
101  W1  403  HAR101SUV  2022-01-08  KA67AD3578
102  W1  409  TIA202HAT  2022-01-09  KA78FH9427
103  W2  403  SAF202SUV  2022-01-05  KA75HK5239
104  W2  402  HAR303SUV  2022-01-18  KA86DGT863
105  W2  407  TIG202SED  2022-01-26  KA45GJ6838
106  W3  408  ALT202HAT  2022-01-24  KA79HS5643
107  W3  410  TIG303SED  2022-01-27  KA68GF5686
108  S1  406  SAF303SUV  2022-01-19  KA86FG6357
109  S1  407  SAF202SUV  2022-01-17  KA56GH538
110  S3  403  SAF101SUV  2022-01-26  KA98GD4378
111  S4  410  TIG303SED  2022-01-04  KA57GJ3432
112  N1  406  SAF101SUV  2022-01-01  KA65JH6723
113  N1  403  HAR101SUV  2022-01-02  KA78KJ2867
114  N2  409  HAR202SUV  2022-01-03  KA65BK6453
115  N2  401  HAR303SUV  2022-01-04  KA56KH3490
116  N3  410  SAF202SUV  2022-01-05  KA45HK1457
117  N3  405  SAF303SUV  2022-01-11  KA56JH9021
118  N4  410  TIG101SED  2022-01-15  KA54BN5478
119  N4  406  TIG202SED  2022-01-21  KA90ER2356
120  N4  404  TIG303SED  2022-01-25  KA56VB7954
121  N4  407  ALT101HAT  2022-01-28  KA45GK7834
---  --  ---  ---------  ----------  ----------

In [7]:
# QUES 3
query = """SELECT BRANCH_ID, MAX(SALE_ID)FROM TATA_MOTORS.SALES_DATA
WHERE WEEK(SALE_DATE) = 1"""

result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

--  ---
S2  116
--  ---

In [6]:
# QUES 4
query = """SELECT C.VARIANT, COUNT(C.VARIANT) FROM  TATA_MOTORS.CAR_DETAILS C JOIN 
SALES_DATA S ON C.MODEL_NUM = S.CAR_MODEL
WHERE WEEK(S.SALE_DATE)=1
ORDER BY COUNT(C.VARIANT) DESC LIMIT 1;"""

result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

---  --
TOP  20
---  --

In [5]:
# QUES 5
query = """SELECT C.VARIANT,COUNT(C.VARIANT) FROM  TATA_MOTORS.CAR_DETAILS C JOIN 
SALES_DATA S ON C.MODEL_NUM = S.CAR_MODEL
WHERE WEEK(S.SALE_DATE)=3 ORDER BY COUNT(C.VARIANT) ASC LIMIT 1;"""

result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

-------  --
PREMIUM  17
-------  --

In [4]:
# QUES 6
query = """SELECT COUNT(SALE_ID), BRANCH_ID AS COUNT FROM TATA_MOTORS.SERVICE_DATA 
GROUP BY BRANCH_ID;"""

result = cursor.execute(query)
result = cursor.fetchall()

print(tabulate(result))

-  --
7  E1
3  E2
2  E3
2  E4
4  N1
4  N2
5  N3
4  N4
7  S1
4  S2
4  S3
5  S4
7  W1
2  W2
5  W3
6  W4
-  --